[submodule "pyta"]
path = pyta
url = git@github.com:ostrokach/pyta.git

[submodule "website"]
path = website
url = git@github.com:ostrokach/website.git

[submodule "pylint"]
path = pylint
url = https://github.com/PyCQA/pylint.git
